{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}
<!-- Container -->
<div class="container">
  <br><br>
  <form action="/add_book" method="POST">
    <label for="name">Author Name:</label>
      <select name=author_id>
            {% for author in authors %}
                <option value="{{author.author_id}}" SELECTED>{{author.name}}</option>
            {% endfor %}
      </select><br><br>
    <label for="isbn">Book ISBN:</label>
    <input type="number" id="isbn" name="isbn"><br><br>
    <label for="title">Book Title:</label>
    <input type="text" id="title" name="title" required><br><br>
    <label for="publication_year">Year Published:</label>
    <input type="number" id="publication_year" name="publication_year"
           min="1800" max="2099" step="1" value="2016"><br><br>
    <input type="submit" value="Add Book">
  </form>
  <br><br>
  {% if message is string %}
  {{message}}:<br>
  {% endif %}
</div>
{% endblock %}